.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  margin-top: 0;
  display: flex;
  flex-direction: column;

  /* выше установили ограничения для секции */
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
}

/* и элемента с модификатором вида ключ-значение */

.logo {
  width: 228px;
  height: 32px;
  z-index: 100;
}

.logo_place_header {
   position: absolute;
   left: 64px;
   top: 30px;
}

.header__title {
  max-width: 730px;
  margin: auto 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 2;
  display: block;
}

.header__subtitle {
  position: absolute;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
  display: block;
  margin: 0 0;
}

.header__link {
  display: inline-block;
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

/* Gallery - Two columns */

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  display: block;
  margin: 0 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__paragraph {
  margin: 0 0;
  display: block;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/* Gallery - Table Digits */

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  display: block;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: block;
  margin: 0 0;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0;
  display: block;
  z-index: 2;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  display: block;
  z-index: 2;
}

/* Gallery - Feynman */

.feynman {
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 890px;
  position: relative;
  box-sizing: border-box;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}

.feynman__title {
  max-width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 2;
  display: block;
  margin: 0 0;
}

.feynman__subtitle {
  margin-top: 70px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  display: block;
}

.feynman__link {
  position: absolute;
  color: #2f80ed;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  display: block;
  text-decoration: none;
}

/* Gallery - Kaufman */

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  background-image: url('../images/kaufman-triangle.svg');
  background-repeat: no-repeat;
  z-index: 0;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

/* Footer */

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  box-sizing: content-box;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: block;
  text-decoration: none;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  display: block;
}
.footer__social-icon{
  margin-right: 10px;
  height:16px;
  width:16px;
}
